# build
dist/
.astro/

# e2e (playwright)
test-results/
playwright-report/
.playwright/

# deps
node_modules/
.pnpm-store/

# logs
*.log

# env
.env
.env.local

# system
.DS_Store
Thumbs.db
*.stackdump
